In [12]:
import pulp

## Input variables 

classes = ['1a', '1b', '1c', '1d', '1e']

courses = ['English', 'German', 'Dutch', 'Math', 'Biology', 'Mentorship hour']

teachers = ['Bob', 'Thea', 'Johan', 'Hanneke', 'Kim', 'Martin', 'Sarah']

classrooms = ['0.1', '0.2', '1.1', '1.2', '1.3', '2.2', '2.3']

hours = [1, 2, 3, 4, 5, 6, 7, 8]


## Parameters

# shows for each teacher which courses he/she is able to give
able_to_give_course = [[1,1,0,0,0,1], [1,0,1,0,0,1],[0,0,0,1,0,1],[0,0,0,0,1,0], [0,0,1,0,0,0],[1,0,0,0,0,1], [0,0,1,1,0,0]]

# shows how many hours of each course each class needs
required_hours = [[2,1,2,2,1,0], [2,2,2,0,0,0], [1,1,1,1,1,1], [1,0,1,2,2,1], [1,0,1,2,2,2]]


## Decision variable

X = pulp.LpVariable.dicts(
    "X", 
    ((h, c, t, r, l)
     for h in hours 
     for c in classes 
     for t in teachers 
     for r in classrooms 
     for l in courses),
    cat='Binary'
)
# this variable equals 1 if course is given at hour h, to class c, by teacher t in class room r, else 0.


## objective

prob = pulp.LpProblem("School_Timetable", pulp.LpMaximize)
prob += pulp.lpSum(X[h, c, t, r, l] for h in hours for c in classes for t in teachers for r in classrooms for l in courses)


## constraints

# No teacher can be double-booked
for h in hours:
    for t in teachers:
        prob += (
            pulp.lpSum(X[h, c, t, r, l] 
                       for c in classes 
                       for r in classrooms 
                       for l in courses)
            <= 1
        )

# No class can have two lessons at the same time
for h in hours:
    for c in classes:
        prob += (
            pulp.lpSum(X[h, c, t, r, l] 
                       for t in teachers 
                       for r in classrooms 
                       for l in courses)
            <= 1
        )

# No room can be double-booked
for h in hours:
    for r in classrooms:
        prob += (
            pulp.lpSum(X[h, c, t, r, l]
                       for c in classes
                       for t in teachers
                       for l in courses)
            <= 1
        )

# Required teaching hours for each class & course
for c_idx, c in enumerate(classes):
    for co_idx, l in enumerate(courses):
        required = required_hours[c_idx][co_idx]
        prob += (
            pulp.lpSum(X[h, c, t, r, l] 
                       for h in hours 
                       for t in teachers 
                       for r in classrooms)
            == required
        )

# A teacher can only teach a course if allowed
for t_idx, t in enumerate(teachers):
    for co_idx, l in enumerate(courses):
        if able_to_give_course[t_idx][co_idx] == 0:
            for h in hours:
                for c in classes:
                    for r in classrooms:
                        prob += X[h, c, t, r, l] == 0


## Solving the problem
prob.solve()
print("Status:", pulp.LpStatus[prob.status])

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/yvonne.smeenge/Documents/GitHub/School_timetable_model/.venv/lib/python3.11/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc /var/folders/sk/k2jvbc391_d47y527rssnps00000gp/T/e0d0c4d6258d4d1dafda6a83cbc84e40-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/sk/k2jvbc391_d47y527rssnps00000gp/T/e0d0c4d6258d4d1dafda6a83cbc84e40-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 8027 COLUMNS
At line 98188 RHS
At line 106211 BOUNDS
At line 117972 ENDATA
Problem MODEL has 8022 rows, 11760 columns and 54880 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 35 - 0.01 seconds
Cgl0002I 8568 variables fixed
Cgl0004I processed model has 176 rows, 3192 columns (3192 integer (3192 of which binary)) and 12768 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 68 integers unsatisfied sum - 15.7397
Cbc0038I Pass   1: suminf.    0.00000 (0) obj. -35 iterations 218
Cbc0038I Solution found of -35
Cbc0038I Before mini branch and bound, 3122 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.05 seconds)
Cbc0038I After 0.05 seconds - Feasibility pump exiting with objective of -35 - took 0.01 seconds
Cbc0012I Integer solution of -35 found by feasibility pump after 0 iterations and 0 nodes (0.05 seconds)
Cbc0001I Search completed - best objective -35, took 0 iterations and 0 nodes (0.05 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -35 to -35
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                35.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.05
Time (Wallclock seconds):       0.06

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.08   (Wallclock seconds):       0.09

Status: Optimal

In [15]:
import pandas as pd

schedule = []

for h in hours:
    for c in classes:
        for t in teachers:
            for r in classrooms:
                for l in courses:
                    if pulp.value(X[h, c, t, r, l]) == 1:
                        schedule.append({
                            "Hour": h,
                            "Class": c,
                            "Course": l,
                            "Teacher": t,
                            "Room": r
                        })

df = pd.DataFrame(schedule)
df = df.sort_values(by=["Class", "Hour"])

df

    Hour Class           Course  Teacher Room
0      1    1a           German      Bob  0.1
4      2    1a            Dutch      Kim  2.3
8      3    1a          English     Thea  1.1
13     4    1a          English   Martin  1.3
18     5    1a             Math    Johan  2.2
22     6    1a          Biology  Hanneke  1.1
27     7    1a             Math    Sarah  1.2
31     8    1a            Dutch      Kim  1.2
1      1    1b          English   Martin  2.3
5      2    1b            Dutch     Thea  1.1
9      3    1b            Dutch      Kim  2.3
14     4    1b          English     Thea  2.2
23     6    1b           German      Bob  1.3
32     8    1b           German      Bob  1.1
10     3    1c  Mentorship hour    Johan  0.1
15     4    1c             Math    Sarah  2.3
19     5    1c           German      Bob  0.1
24     6    1c          English   Martin  0.1
28     7    1c            Dutch     Thea  0.2
33     8    1c          Biology  Hanneke  1.3
2      1    1d             Math    Johan  1.3
6      2    1d             Math    Sarah  1.3
11     3    1d          Biology  Hanneke  1.2
16     4    1d            Dutch      Kim  1.1
20     5    1d          English   Martin  2.3
25     6    1d  Mentorship hour     Thea  2.2
29     7    1d          Biology  Hanneke  2.2
3      1    1e          Biology  Hanneke  2.2
7      2    1e          Biology  Hanneke  2.2
12     3    1e          English      Bob  1.3
17     4    1e  Mentorship hour      Bob  1.2
21     5    1e             Math    Sarah  0.2
26     6    1e             Math    Johan  1.2
30     7    1e  Mentorship hour      Bob  1.1
34     8    1e            Dutch     Thea  2.3